.gradient-text {
    background: linear-gradient(135deg, rgba(0, 173, 69) 0%, rgba(0, 84, 56) 80%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3ca0d0', endColorstr='#4b18a5', GradientType=1); /* IE6-9 fallback on horizontal gradient */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    }

.h2div {
    }

.gradient-text-h2 {
    background: linear-gradient(135deg, rgba(0, 173, 69) 0%, rgba(0, 84, 56) 80%);
    Opera12 +, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3ca0d0', endColorstr='#4b18a5', GradientType=1); /* IE6-9 fallback on horizontal gradient */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
    font-weight: 600;
    text-align: center;
    position: relative;
    z-index: 1;
    }

.gradient-text-h2-2 {
    background: rgb(60, 160, 208); /* Old browsers */
    background: -moz-linear-gradient(-45deg, rgba(60, 160, 208, 1) 0%, rgba(75, 24, 165, 1) 80%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, rgba(60, 160, 208, 1) 0%, rgba(75, 24, 165, 1) 80%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, rgba(60, 160, 208, 1) 0%, rgba(75, 24, 165, 1) 80%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3ca0d0', endColorstr='#4b18a5', GradientType=1); /* IE6-9 fallback on horizontal gradient */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
    font-weight: 600;
    text-align: center;
    position: relative;
    z-index: 1;
    }

.gradient-text-h2-price {
    background: rgba(146, 125, 184, 1);
    background: -moz-linear-gradient(-45deg, rgba(146, 125, 184, 1) 0%, rgba(75, 17, 174, 1) 26%, rgba(255, 175, 64, 1) 56%, rgba(255, 149, 0, 1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(146, 125, 184, 1)), color-stop(26%, rgba(75, 17, 174, 1)), color-stop(56%, rgba(255, 175, 64, 1)), color-stop(100%, rgba(255, 149, 0, 1)));
    background: -webkit-linear-gradient(-45deg, rgba(146, 125, 184, 1) 0%, rgba(75, 17, 174, 1) 26%, rgba(255, 175, 64, 1) 56%, rgba(255, 149, 0, 1) 100%);
    background: -o-linear-gradient(-45deg, rgba(146, 125, 184, 1) 0%, rgba(75, 17, 174, 1) 26%, rgba(255, 175, 64, 1) 56%, rgba(255, 149, 0, 1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(146, 125, 184, 1) 0%, rgba(75, 17, 174, 1) 26%, rgba(255, 175, 64, 1) 56%, rgba(255, 149, 0, 1) 100%);
    background: linear-gradient(135deg, rgba(146, 125, 184, 1) 0%, rgba(75, 17, 174, 1) 26%, rgba(255, 175, 64, 1) 56%, rgba(255, 149, 0, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#927db8', endColorstr='#ff9500', GradientType=1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
    font-weight: 600;
    text-align: center;
    position: relative;
    z-index: 1;
    }

.p-h2-fon {
    display: none;
    }

.tochki_div {
    width: 235px;
    height: 235px;
    position: absolute;
    z-index: -1;
    }

.tochki {
    width: 107px;
    height: 107px;
    background-position: -12px 368px;
    float: left;
    opacity: 0.7;
    }

.zapolnit-brif-knopka {
    width: 222px;
    height: 48px;
    background-position: 221px -365px;
    cursor: pointer;
    }

.zapolnit-brif-knopka:hover {
    filter: hue-rotate(50deg);
    transition: all .2s;
    }

.headerrline_sontsiconki_facebook {
    width: 29px;
    height: 31px;
    float: left;
    margin: 1px 0 0 2%;
    background-position: -91px 0;
    opacity: 1;
    }

.headerrline_sontsiconki_facebook:hover {
    opacity: 0.5;
    transition: all .2s;
    }

.headerrline_sontsiconki_vk {
    width: 29px;
    height: 31px;
    float: left;
    margin: 1px 0 0 2%;
    background-position: -123px 0;
    opacity: 1;
    }

.headerrline_sontsiconki_vk:hover {
    opacity: 0.5;
    transition: all .2s;
    }

.headerrline_sontsiconki_instagram {
    width: 29px;
    height: 31px;
    float: left;
    margin: 1px 0 0 2%;
    background-position: -156px 0;
    opacity: 1;
    }

.headerrline_sontsiconki_instagram:hover {
    opacity: 0.5;
    transition: all .2s;
    }

.headerrline_sontsiconki_viber {
    width: 29px;
    height: 31px;
    float: left;
    margin: 1px 0 0 2%;
    background-position: -58px 0;
    opacity: 1;
    }

.headerrline_sontsiconki_viber:hover {
    opacity: 0.5;
    transition: all .2s;
    }

.headerrline_sontsiconki_telegram {
    width: 29px;
    height: 31px;
    float: left;
    margin: 1px 0 0 2%;
    background-position: -190px 0;
    opacity: 1;
    }

.headerrline_sontsiconki_telegram:hover {
    opacity: 0.5;
    transition: all .2s;
    }

.headerrline_sontsiconki_scype {
    width: 29px;
    height: 31px;
    float: left;
    margin: 1px 0 0 2%;
    background-position: -26px 0;
    opacity: 1;
    }

.headerrline_sontsiconki_scype:hover {
    opacity: 0.5;
    transition: all .2s;
    }

.headerrline_sontsiconki_wats {
    width: 29px;
    height: 31px;
    float: left;
    margin: 1px 0 0 2%;
    background-position: -229px 0;
    opacity: 1
    }

.headerrline_sontsiconki_wats:hover {
    opacity: 0.5;
    transition: all .2s
    }

.price_video {
    width: 38px;
    height: 27px;
    background-position: -250px 2px;
    cursor: pointer;
    }

.price_video:hover {
    background-position: -250px -26px;
    transition: all .1s;
    }

/** ---------- фон для видео --------- **/
.jumbotron-video {
    position: relative;
    overflow: hidden;
    width: 100%;
    }

.jumbotron-video video {
    position: absolute;
    z-index: -1;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.95;
    }

.jumbotron-video .container {
    z-index: 2;
    position: relative;
    }

/** ---------- фон для фото --------- **/
.jumbotron-foto {
    position: relative;
    overflow: hidden;
    }

.jumbotron-foto .fonimg {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.95;
    }

.jumbotron-foto .container {
    position: relative;
    }

.width_line {
    width: 75%
    }

@media (min-width: 576px) {
    .width_line {
        width: 55%
        }
    }

@media (min-width: 767px) {
    .p-h2-fon {
        display: block;
        font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
        font-weight: 600;
        font-size: 2.8em;
        color: #d3d3d361;
        z-index: 15;
        text-align: center;
        margin: -66px 0 0 0;
        white-space: nowrap;
        text-transform: uppercase;
        }

    .width_line {
        width: 45%
        }
    }

@media (min-width: 992px) {
    .p-h2-fon {
        font-size: 4.2em;
        margin: -90px 0 0 0;
        }

    .width_line {
        width: 35%
        }
    }

@media (min-width: 1140px) {
    .width_line {
        width: 35%
        }
    }

/* -----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------header------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------ - */
.headerrlogo {
    display: none;
    }

.headerrlogomobile {
    width: 204px;
    height: 66px;
    background-position: -158px -78px;
    display: block;
    margin-top: 40px !important;
    }

.phonenaverhu {
    width: 147px;
    height: 20px;
    float: left;
    font-size: 0.8em;
    margin-top: 7px;
    }

.footerlogo {
    width: 205px;
    height: 65px;
    background-position: -158px -78px;
    margin: 11px 0 0 10px;
    display: block;
    }

.headerrlogo a {
    display: block;
    width: 264px;
    height: 70px;
    }

.zagolovok {
    width: 100%;
    height: auto;
    padding: 40px;
    margin: 10% auto;
    background: url(/images/green-left-up.png) 0 0 no-repeat,
    url(/images/green-right-down.png) 100% 100% no-repeat;
    }

@media (min-width: 992px) {

    .zagolovok {
        width: 730px;
        height: 261px;
        padding: 40px;
        margin: 172px auto;
        background: url(/images/green-left-up.png) 0 0 no-repeat,
        url(/images/green-right-down.png) 100% 100% no-repeat;
        }

    }

.textnadh1 {
    color: #d07a00 !important;
    font-size: 14px;
    font-weight: 600;
    font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
    margin-bottom: 25px;
    }

.textpodh1 {
    margin-top: 31px;
    color: #545454;
    font-size: 16px;
    /* font-weight: 600; */
    font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
    }

.tochki_div {
    width: 235px;
    height: 235px;
    position: absolute;
    z-index: -1;
    }

.tochki {
    width: 107px;
    height: 107px;
    background-position: -12px 368px;
    float: left;
    opacity: 0.7;
    }

.tochki_div_header {
    margin: -114px 0 0 -87px;
    }

.tochki_div_counter {
    right: 0;
    bottom: 0;
    margin: 0 7px -36px 0;
    }

.tochki_div_prichini1 {
    right: 0;
    bottom: 0;
    margin: 0 -67px 420px 0;
    }

.tochki_div_prichini2 {
    right: 0;
    bottom: 0;
    margin: 0 0 -177px -144px;
    }

.tochki_div_price {
    right: 0;
    top: 0;
    margin: 182px -76px 0 0;
    z-index: 1;
    }

.tochki_div_uslugi {
    right: 0;
    top: 0;
    margin: 82px -76px 0 0;
    z-index: 1;
    }

.tochki_div_nashi_raboti {
    right: 0;
    top: 0;
    margin: 0 34px 0 0;
    }

.tochki_div_nashi_vmeste_poshitaem {
    right: 0;
    top: 0;
    margin: 80px -150px 0 0;
    z-index: 1;
    filter: invert(9%);
    display: none
    }

h1 {
    font-weight: 600;
    font-size: 2rem;
    font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
    }

.headerr {
    margin-top: 0;
    height: 360px;
    }

.headerr img {
    margin-left: 0;
    width: 300px;
    }

.contakti_anton {
    position: absolute;
    overflow: auto;
    bottom: 30px;
    right: 2px;
    width: 154px;
    height: 75px;
    background-color: white;
    -webkit-border-radius: 10px;
    -webkit-border-bottom-left-radius: 0;
    -moz-border-radius: 10px;
    -moz-border-radius-bottomleft: 0;
    border-radius: 10px;
    border-bottom-left-radius: 0;
    box-shadow: 0 0 3px rgba(0, 0, 0, .1);
    }

.contakti_anton h3 {
    display: block;
    font-size: 1.2em;
    color: #6b6b6b;
    float: left;
    margin-top: 0;
    margin-right: 0;
    }

.contakti_anton p {
    font-size: 0.8em;
    color: #cdcdcd;
    margin-top: 3px;
    margin-bottom: 0;
    text-align: center
    }

.contakti_anton a {
    font-size: 0.8em;
    color: #747474;
    margin-top: 3px;
    margin-bottom: 0;
    }

@media (min-width: 576px) {
    .contakti_anton {
        bottom: 60px;
        right: 113px;
        }

    .contakti_anton_ja_s_kalkulatorom {
        bottom: 20px;
        right: 3px;
        }
    }

@media (min-width: 767px) {
    #headerrline_tel {
        float: left;
        width: 375px;
        }

    .headerrlogo {
        }

    .contakti_anton {
        bottom: 50px;
        right: 0;
        }

    .contakti_anton_ja_s_kalkulatorom {
        bottom: 20px;
        right: 1px;
        }

    .tochki_div_header {
        display: block;
        }

    .tochki_div_counter {
        display: block;
        }

    .tochki_div_prichini1 {
        display: block;
        }

    .tochki_div_prichini2 {
        display: block;
        }

    .tochki_div_price {
        display: block;
        }

    .tochki_div_nashi_raboti {
        display: block;
        }

    .tochki_div_nashi_vmeste_poshitaem {
        display: block;
        }
    }

@media (min-width: 992px) {
    .headerrlogo {
        width: 205px;
        height: 65px;
        background-position: -158px -78px;
        margin: 40px auto;
        display: block;
        }

    .headerrlogomobile {
        display: none;
        }

    .headerrlogo.fixedddd {
        width: 127px;
        height: 60px;
        background-position: -160px -144px;
        z-index: 9999 !important;
        margin: -11px 0 0 19px;
        transition: 0.7s;
        }

    .header-blue-back {
        position: absolute;
        width: 727px;
        height: 566px;
        right: 0;
        background: url(/images/sozdanie-saitov-kharkov-header-sin-fon.jpg);
        background-size: contain;
        }

    .headerr {
        margin-top: 110px;
        height: 460px;
        }

    .headerr img {
        margin-left: 80px;
        width: 340px;
        }

    h1 {
        font-weight: 600;
        font-size: 2.3rem;
        font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
        }

    .textnadh1 {
        margin-top: 45px;
        }

    .tochki_div_header {
        margin: -164px 0 0 -87px;
        }

    .tochki_div_counter {
        right: 0;
        bottom: 0;
        margin: 0 -83px -36px 0;
        }

    .tochki_div_prichini1 {
        right: 0;
        bottom: 0;
        margin: 0 -67px 420px 0;
        }

    .tochki_div_prichini2 {
        left: 0;
        bottom: 0;
        margin: 0 0 -177px 4px;
        }

    .tochki_div_price {
        right: 0;
        top: 0;
        margin: 188px 154px 0 0;
        z-index: 1;
        }

    .tochki_div_uslugi {
        right: 0;
        top: 0;
        margin: -26px 38px 0 0;
        z-index: 1;
        }

    .contakti_anton {
        bottom: 90px;
        right: 1px;
        }

    .contakti_anton_ja_s_kalkulatorom {
        bottom: 20px;
        right: 3px;
        }

    }

@media (min-width: 1200px) {
    .contakti_anton {
        bottom: 90px;
        right: 50px;
        }

    .contakti_anton_ja_s_kalkulatorom {
        bottom: 40px;
        right: 3px;
        }
    }

@media (min-width: 1600px) {
    .header-blue-back {
        position: absolute;
        width: 983px;
        height: 766px;
        }

    .headerr {
        margin-top: 110px;
        height: 621px;
        }

    .headerr img {
        margin-left: 80px;
        width: 459px;
        }

    h1 {
        font-weight: 600;
        font-size: 2.5rem;
        font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
        }

    .h111 {
        font-size: 3.3rem !important;
        }

    .tochki_div_header {
        margin: -124px 0 0 -87px;
        }

    .tochki_div_counter {
        right: 0;
        bottom: 0;
        margin: 0 -123px -54px 0;
        }

    .tochki_div_prichini1 {
        right: 0;
        bottom: 0;
        margin: 0 -67px 420px 0;
        }

    .tochki_div_prichini2 {
        left: 0;
        bottom: 0;
        margin: 0 0 -177px -144px;
        }

    .tochki_div_price {
        right: 0;
        top: 0;
        margin: 173px 124px 0 0;
        z-index: 1;
        }

    .tochki_div_uslugi {
        right: 0;
        top: 0;
        margin: -44px 109px 0 0;
        z-index: 1;
        }

    .contakti_anton {
        bottom: 140px;
        right: -50px;
        }

    .contakti_anton_ja_s_kalkulatorom {
        bottom: 40px;
        right: -13px;
        }
    }

/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------CONTENT------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------ - */
/* --- статьи с видео -- - */
.statitext p {
    }

.statitext h3 {
    margin: 0 0 5% 0;
    padding-left: 27px;
    position: relative;
    font-size: 1.2em;
    font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
    font-weight: 600
    }

.statitext h3:before {
    position: absolute;
    left: 0;
    top: 1px;
    content: '';
    height: 102%;
    width: 6px;
    background: #FF9500;
    }

.stativideo video {
    width: 100%
    }

@media (min-width: 576px) {
    .statitext h3 {
        font-size: 1.5em;
        }
    }

@media (min-width: 767px) {
    .statitext {
        }
    }

@media (min-width: 992px) {
    .statitext h3 {
        font-size: 2.2em;
        }

    .statitext {
        }
    }

/* -четыре блока с щётчиком - */
.chetbl {
    width: 200px;
    height: 237px;
    background-color: white;
    text-align: center;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
    }

.chetbl p {
    font-size: 13px;
    line-height: 1.3em;
    }

.counter-value {
    font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
    font-size: 30px;
    margin: 20px 0 20px 0;
    color: #646464;
    }

.chetbldiv {
    position: absolute;
    margin-left: 0;
    width: 168px;
    bottom: -8px;
    height: 8px;
    background-color: #927db8;
    }

h2 span {
    color: #ebb7bc;
    font-weight: 600 !important;
    }

h2 {
    color: #a3a3a3 !important;
    font-weight: 400;
    }

.chetbl-odin-img {
    width: 67px;
    height: 67px;
    background-position: 0 174px;
    margin: 0 auto;
    }

.chetbl-dva-img {
    width: 71px;
    height: 67px;
    background-position: -68px 174px;
    margin: 0 auto;
    }

.chetbl-tri-img {
    width: 67px;
    height: 67px;
    background-position: -140px 174px;
    margin: 0 auto;
    }

.chetbl-chet-img {
    width: 73px;
    height: 67px;
    background-position: -208px 174px;
    margin: 0 auto;
    }

/* -этапы создания - */
.etap-text {
    width: 65%;
    float: left;
    padding-right: 5px;
    }

.etap-text h3 {
    font-size: 1.4em;
    color: #000;
    line-height: 1.1em;
    font-weight: 300;
    letter-spacing: -.05em;
    text-align: right;
    margin-top: -2px;
    font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
    text-transform: uppercase;
    }

.etap-text p {
    font-size: .9em;
    letter-spacing: -.05em;
    color: #49534B;
    text-align: right;
    }

.etap-img {
    float: left;
    width: 100px;
    height: 100px;
    }

.etap-img img {
    width: 100%
    }

.etap-num {
    width: 40px;
    float: left;
    }

.etap-num p {
    font-size: 4em;
    font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
    color: #e6e6e6;
    margin: -3px 0 0 33px;
    }

@media (min-width: 576px) {
    .etap-text h3 {
        font-size: 1.5em;
        }

    .etap-text {
        width: 70%;
        }
    }

@media (min-width: 767px) {
    .etap-text {
        padding-right: 25px;
        }

    .etap-img {
        width: 108px;
        height: 108px;
        }

    .etap-num {
        width: 50px;
        }

    .etap-num p {
        font-size: 8em;
        margin: -44px 0 0 7px;
        }
    }

@media (min-width: 992px) {
    }

@media (min-width: 1200px) {
    .etap-num p {
        margin: -44px 0 0 10px;
        }
    }

/* прайс */
ul.leaders, ul.leaderss {
    padding: 0;
    overflow-x: hidden;
    list-style: none;
    font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
    font-weight: 600;
    }

ul.leaders li, ul.leaderss li {
    margin-bottom: 10px;
    color: #235d79;
    }

ul.leaders li:before {
    float: left;
    width: 0;
    white-space: nowrap;
    content: ". . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . ";
    color: white;
    }

ul.leaderss li:before {
    float: left;
    width: 0;
    white-space: nowrap;
    content: ". . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . ";
    color: black;
    }

ul.leaders span:first-child {
    padding-right: 0.33em;
    background: #2f2f2f;
    color: #ffffff;
    font-size: 0.85em;
    line-height: 1.5em;
    letter-spacing: -.04em;
    }

ul.leaders span + span {
    float: right;
    background: #2f2f2f;
    font-size: 0.95em;
    }

ul.leaderss span:first-child {
    padding-right: 0.33em;
    background: #ffffff;
    font-size: 0.85em;
    line-height: 1.5em;
    letter-spacing: -.04em;
    }

ul.leaderss span + span {
    float: right;
    background: #ffffff;
    color: #235d79;
    font-size: 0.95em;
    }

.stoimost-fon {
    display: none
    }

.stoimost-ikonka-hruska {
    display: none
    }

.stoimost-ikonka-kosheliok {
    display: none
    }

.stoimost-ikonka-monetki {
    display: none
    }

.stoimost-ikonka-meshochek {
    display: none
    }

.ja_s_kalkulatorom img {
    width: 300px;
    display: block;
    margin: 0 auto;
    z-index: 3;
    }

.ne_gat_khopka {
    width: 65px;
    height: 24px;
    background-position: 290px 24px;
    }

.ne_gat_khopka:hover {
    filter: invert(80%);
    transition: all .4s;
    }

.ne_gat_khopka-sm {
    width: 72px;
    height: 24px;
    background-position: 296px 47px;
    filter: grayscale(0);
    }

.ne_gat_khopka-sm:hover {
    filter: grayscale(1);
    transition: all .4s;
    }

@media (min-width: 576px) {
    .ne_gat_khopka {
        width: 72px;
        height: 24px;
        background-position: 296px 24px;
        }

    ul.leaders, ul.leaderss {
        display: block;
        }

    ul.leaders, ul.leaderss {
        display: block;
        }

    ul.leaders span:first-child {
        font-size: 0.9em;
        line-height: 1.5em;
        letter-spacing: .04em;
        }

    ul.leaders span + span {
        font-size: 1.2em;
        }

    ul.leaderss span:first-child {
        font-size: 0.9em;
        line-height: 1.5em;
        letter-spacing: .04em;
        }

    ul.leaderss span + span {
        font-size: 1.2em;
        }

    .stoimost h3, .stoimost2 h3 {
        margin: -99px 50px 0 15%;
        font-size: 45em;
        }

    .stoimost-ikonka-hruska {
        width: 43px;
        height: 41px;
        background-position: -367px -200px;
        }

    .stoimost-ikonka-kosheliok {
        width: 37px;
        height: 38px;
        background-position: 1px -155px;
        }

    .stoimost-ikonka-monetki {
        width: 43px;
        height: 41px;
        background-position: -38px -155px;
        }

    .stoimost-ikonka-meshochek {
        width: 43px;
        height: 41px;
        background-position: -80px -155px;
        }
    }

@media (min-width: 767px) {
    .stoimost-fon {
        display: block;
        position: absolute;
        left: 0;
        top: 192px;
        }

    .ja_s_kalkulatorom img {
        width: 483px;
        float: right;
        }
    }

@media (min-width: 992px) {
    ul.leaders, ul.leaderss {
        display: block;
        }

    ul.leaders, ul.leaderss {
        display: block;
        }

    ul.leaders span:first-child {
        font-size: 1em;
        line-height: 1.5em;
        letter-spacing: .04em;
        }

    ul.leaders span + span {
        font-size: 1em;
        }

    ul.leaderss span:first-child {
        font-size: 1em;
        line-height: 1.5em;
        letter-spacing: .04em;
        }

    ul.leaderss span + span {
        font-size: 1em;
        }
    }

@media (min-width: 1200px) {
    ul.leaders, ul.leaderss {
        display: block;
        }

    ul.leaders, ul.leaderss {
        display: block;
        }

    ul.leaders span:first-child {
        font-size: 1.05em;
        line-height: 1.5em;
        letter-spacing: .01em;
        }

    ul.leaders span + span {
        font-size: 1.1em;
        }

    ul.leaderss span:first-child {
        font-size: 1.15em;
        line-height: 1.5em;
        letter-spacing: .01em;
        }

    ul.leaderss span + span {
        font-size: 1.1em;
        }

    .hruska1 {
        display: block;
        position: absolute;
        bottom: 300px;
        left: 220px;
        opacity: 0.3;
        }

    .hruska2 {
        display: block;
        position: absolute;
        top: 850px;
        right: 340px;
        opacity: 0.3;
        }

    .kosheliok1 {
        display: block;
        position: absolute;
        top: 230px;
        left: 361px;
        opacity: 0.3;
        }

    .kosheliok2 {
        display: block;
        position: absolute;
        bottom: 100px;
        left: 530px;
        opacity: 0.3;
        }

    .kosheliok3 {
        display: block;
        position: absolute;
        top: 700px;
        right: 110px;
        opacity: 0.3;
        }

    .monetki1 {
        display: block;
        position: absolute;
        top: 980px;
        left: 519px;
        opacity: 0.3;
        }

    .monetki2 {
        display: block;
        position: absolute;
        bottom: 200px;
        right: 200px;
        opacity: 0.3;
        }

    .monetki3 {
        display: block;
        position: absolute;
        top: 400px;
        right: 130px;
        opacity: 0.3;
        }

    .meshochek1 {
        display: block;
        position: absolute;
        bottom: 600px;
        left: 130px;
        opacity: 0.3;
        }

    .meshochek2 {
        display: block;
        position: absolute;
        bottom: 400px;
        right: 30px;
        opacity: 0.3;
        }

    .ja_s_kalkulatorom img {
        width: 545px;
        float: right;
        }
    }

@media (min-width: 1600px) {
    .hruska1 {
        display: block;
        position: absolute;
        bottom: 300px;
        left: 220px;
        }

    .hruska2 {
        display: block;
        position: absolute;
        top: 850px;
        right: 340px;
        }

    .kosheliok1 {
        display: block;
        position: absolute;
        top: 270px;
        left: 470px;
        }

    .kosheliok2 {
        display: block;
        position: absolute;
        bottom: 100px;
        left: 730px;
        }

    .kosheliok3 {
        display: block;
        position: absolute;
        top: 700px;
        right: 410px;
        }

    .monetki1 {
        display: block;
        position: absolute;
        top: 980px;
        left: 719px;
        }

    .monetki2 {
        display: block;
        position: absolute;
        bottom: 200px;
        right: 200px;
        }

    .monetki3 {
        display: block;
        position: absolute;
        top: 400px;
        right: 310px;
        }

    .meshochek1 {
        display: block;
        position: absolute;
        bottom: 600px;
        left: 130px;
        }

    .meshochek2 {
        display: block;
        position: absolute;
        bottom: 400px;
        right: 330px;
        }
    }

/* блок 5 приемуществ */
.piatpriemeshestv_main_div {
    width: 100%;
    }

.piatpriemeshestvright p, h3 {
    margin: 10px;
    }

.piatpriemeshestvleft p, h3 {
    margin: 10px;
    }

.piatpriemeshestvright h3 {
    color: #565656;
    font-size: 1.3em;
    letter-spacing: -0.02em;
    margin: 31px 0 31px 9px;
    }

.piatpriemeshestvleft h3 {
    color: #565656;
    font-size: 1.3em;
    letter-spacing: -0.02em;
    margin: 31px 0 31px 11px;
    }

.piatpriemeshestvright p {
    font-size: 0.9em;
    letter-spacing: 0.01em;
    }

.piatpriemeshestvleft p {
    font-size: 0.9em;
    letter-spacing: 0.01em;
    }

.piatpriemeshestvright p > span {
    font-size: 1.5em;
    color: orange;
    }

.piatpriemeshestvleft p > span {
    font-size: 1.5em;
    color: orange;
    }

.piatpriemeshestvtitle {
    background: rgba(255, 255, 255, 0.75);
    height: 150px;
    overflow: hidden;
    }

.piatpriemeshestvright {
    width: 340px;
    height: 195px;
    float: left;
    background-color: white;
    }

.piatpriemeshestvleft {
    width: 340px;
    height: 195px;
    float: right;
    background-color: white;
    }

.piatpriemeshestvrightnamber {
    max-width: 340px;
    height: 50px;
    background-color: #fcfae1;
    width: 100%;
    }

.piatpriemeshestvleftnamber {
    max-width: 340px;
    height: 50px;
    background-color: #fcfae1;
    width: 100%;
    }

.piatpriemeshestvleftnamber, .piatpriemeshestvrightnamber span {
    color: #907bb5;
    font-size: 40px;
    font-weight: 800;
    text-align: center;
    display: block;
    }

@media (min-width: 576px) {
    .piatpriemeshestvright {
        width: 450px;
        height: 130px;
        float: right;
        }

    .piatpriemeshestvleft {
        width: 450px;
        height: 130px;
        float: left;
        }

    .piatpriemeshestvright h3 {
        font-size: 1.3em;
        margin: 33px 0 0 182px;
        }

    .piatpriemeshestvleft h3 {
        font-size: 1.3em;
        margin: 33px 0 0 45px
        }

    .piatpriemeshestvright p {
        font-size: 0.8em;
        margin: 15px 0 0 182px;
        }

    .piatpriemeshestvleft p {
        font-size: 0.8em;
        margin: 15px 0 0 45px !important;
        }

    .piatpriemeshestvrightnamber {
        float: left;
        max-width: 130px;
        height: 130px;
        background-color: #fcfae1;
        width: 100%;
        margin-right: 10px;
        }

    .piatpriemeshestvleftnamber {
        float: right;
        max-width: 130px;
        height: 130px;
        background-color: #fcfae1;
        width: 100%;
        }

    .piatpriemeshestvleftnamber, .piatpriemeshestvrightnamber span {
        font-size: 80px;
        }
    }

@media (min-width: 767px) {
    .piatpriemeshestvright {
        width: 450px;
        }

    .piatpriemeshestvleft {
        width: 450px;
        }
    }

@media (min-width: 992px) {
    .piatpriemeshestv_main_div {
        width: 830px;
        margin: 0 auto;
        }

    .piatpriemeshestvright {
        width: 450px;
        margin: 0 30px 0 0;
        }

    .piatpriemeshestvleft {
        width: 450px;
        margin: 0 0 0 30px;
        }
    }

@media (min-width: 1200px) {
    .piatpriemeshestvright {
        width: 450px;
        margin: 0 30px 0 0;
        }

    .piatpriemeshestvleft {
        width: 450px;
        margin: 0 0 0 30px;
        }
    }

/* -6 причин- и фотопрайс  */
.prichini {
    width: 310px;
    height: 167px;
    }

.prichini h3 {
    float: left;
    margin: -15px 7px 0 0;
    color: #a7deac;
    font-size: 4em;
    }

.prichini h4 {
    color: #c1c1c1;
    font-weight: 400;
    font-size: 1.2em;
    letter-spacing: .007em;
    font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
    }

.prichini p {
    line-height: 1.3em;
    margin-top: 27px;
    color: #c1c1c1;
    font-size: 0.9em;
    }

@media (min-width: 576px) {
    .prichini {
        }

    .prichini h3 {
        font-size: 3em;
        }
    }

@media (min-width: 767px) {
    .prichini {
        }

    .prichini h3 {
        font-size: 4em;
        margin: 0 15px 0 0;
        }

    .prichini h4 {
        font-style: italic;
        margin-top: 15px;
        }
    }

@media (min-width: 992px) {
    .prichini {
        }

    .prichini h3 {
        margin: 9px 15px 0 0;
        }

    .prichini h4 {
        font-size: 1.4em;
        font-style: italic;
        margin-top: 20px;
        }
    }

/** -четыре блока с кружочками - */
.chetbloka {
    width: 250px;
    background-color: white;
    text-align: center;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
    background-color: rgba(42, 42, 42, 0.59);
    }

.chetbloka img {
    border-radius: 50%
    }

.chetbloka p {
    margin: 13px 0 13px 0;
    color: #ffffff;
    font-size: 0.85em;
    font-weight: 300;
    font-style: italic;
    }

.chetbloka h3 {
    font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
    line-height: 1.4em;
    color: #ffffff;
    font-size: 1.3em;
    text-transform: uppercase;
    font-weight: 100;
    letter-spacing: 0.03em;
    text-shadow: 0 0 6px rgba(18, 18, 17, 0.18);
    }

/* --- логотипы -- - */
.trista {
    float: left;
    width: 55px;
    height: 30px;
    filter: grayscale(80%);
    margin: 7px;
    transition: 0.2s;
    }

.trista:hover {
    filter: grayscale(1%);
    }

.trista img {
    width: 100%;
    }

.chetiresta {
    float: left;
    width: 60px;
    height: 30px;
    filter: grayscale(80%);
    margin: 7px;
    padding-top: 3px;
    transition: 0.2s;
    }

.chetiresta:hover {
    filter: grayscale(1%);
    }

.chetiresta img {
    width: 100%;
    }

.chetiresta50 {
    float: left;
    width: 66px;
    height: 30px;
    filter: grayscale(80%);
    margin: 7px;
    padding-top: 4px;
    transition: 0.2s;
    }

.chetiresta50:hover {
    filter: grayscale(1%);
    }

.chetiresta50 img {
    width: 100%;
    }

.avatarsdiv {
    width: 150px;
    height: 170px;
    padding-left: 15px
    }

.avatarsdiv p {
    text-align: center;
    color: #acacac;
    font-weight: 600;
    margin-top: 5px;
    }

.avatarsdiv video {
    width: 130px !important;
    height: 130px !important;
    margin: 0 auto;
    border-radius: 50%;
    position: relative !important;
    }

@media (min-width: 576px) {
    }

@media (min-width: 992px) {
    .trista {
        width: 110px;
        height: 64px;
        margin: 12px;
        }

    .chetiresta {
        width: 130px;
        height: 64px;
        margin: 12px;
        padding-top: 4px;
        }

    .chetiresta50 {
        width: 140px;
        height: 64px;
        margin: 12px;
        padding-top: 6px;
        }

    .avatarsdiv {
        height: 150px;
        }

    .avatarsdiv p {
        margin-top: 14px;
        }
    }

@media (min-width: 1600px) {
    .trista {
        width: 120px;
        height: 64px;
        margin: 17px;
        }

    .chetiresta {
        width: 140px;
        height: 64px;
        margin: 17px;
        padding-top: 5px;
        }

    .chetiresta50 {
        width: 160px;
        height: 64px;
        margin: 17px;
        padding-top: 7px;
        }
    }

/* страница услуги  */
.uslugi-first-div {
    position: relative;
    margin: 152px 0 76px 9px;
    width: 96%
    }

.uslugi-div {
    width: 100%;
    height: 293px;
    margin: 0 auto;
    position: relative;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
    z-index: 2;
    background-color: white;
    padding: 15px;
    }

.uslugi-video {
    width: 140px;
    height: 140px;
    margin: -135px 0 0 28%;
    position: absolute;
    background-color: white;
    border: 7px solid #e8e8e8;
    box-sizing: border-box;
    border-radius: 50%;
    /* box-shadow: 0 0px 5px rgb(56, 56, 56); */
    overflow: hidden;
    z-index: 5;
    }

.uslugi-video video {
    width: 100%;
    filter: grayscale(20%);
    }

.uslugi-video video:hover {
    filter: grayscale(0%);
    }

.uslugi-h3 {
    width: 95%;
    height: 30px;
    background: rgba(247, 247, 247, 1);
    background: -moz-linear-gradient(-45deg, rgba(247, 247, 247, 1) 0%, rgba(247, 247, 247, 1) 40%, rgba(255, 255, 255, 1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(247, 247, 247, 1)), color-stop(40%, rgba(247, 247, 247, 1)), color-stop(100%, rgba(255, 255, 255, 1)));
    background: -webkit-linear-gradient(-45deg, rgba(247, 247, 247, 1) 0%, rgba(247, 247, 247, 1) 40%, rgba(255, 255, 255, 1) 100%);
    background: -o-linear-gradient(-45deg, rgba(247, 247, 247, 1) 0%, rgba(247, 247, 247, 1) 40%, rgba(255, 255, 255, 1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(247, 247, 247, 1) 0%, rgba(247, 247, 247, 1) 40%, rgba(255, 255, 255, 1) 100%);
    background: linear-gradient(135deg, rgba(247, 247, 247, 1) 0%, rgba(247, 247, 247, 1) 40%, rgba(255, 255, 255, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7f7f7', endColorstr='#ffffff', GradientType=1);
    position: absolute;
    text-align: right;
    }

.uslugi-h3 h3 {
    margin-top: 5px;
    font-size: 1.2em;
    display: block;
    }

.uslugi-p {
    width: 93%;
    height: 75px;
    background: rgba(247, 247, 247, 1);
    background: -moz-linear-gradient(-45deg, rgba(247, 247, 247, 1) 0%, rgba(247, 247, 247, 1) 40%, rgba(255, 255, 255, 1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(247, 247, 247, 1)), color-stop(40%, rgba(247, 247, 247, 1)), color-stop(100%, rgba(255, 255, 255, 1)));
    background: -webkit-linear-gradient(-45deg, rgba(247, 247, 247, 1) 0%, rgba(247, 247, 247, 1) 40%, rgba(255, 255, 255, 1) 100%);
    background: -o-linear-gradient(-45deg, rgba(247, 247, 247, 1) 0%, rgba(247, 247, 247, 1) 40%, rgba(255, 255, 255, 1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(247, 247, 247, 1) 0%, rgba(247, 247, 247, 1) 40%, rgba(255, 255, 255, 1) 100%);
    background: linear-gradient(135deg, rgba(247, 247, 247, 1) 0%, rgba(247, 247, 247, 1) 40%, rgba(255, 255, 255, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7f7f7', endColorstr='#ffffff', GradientType=1);
    position: absolute;
    margin: 60px 0 0 0px;
    padding-left: 0px;
    text-align: right;
    }

.uslugi-p p {
    margin-top: 5px;
    margin-right: 0px;
    display: block;
    font-size: 0.85em;
    }

.uslugi-price {
    width: 95%;
    height: 40px;
    position: absolute;
    margin: 230px 0 0 0px;
    padding-left: 0px;
    text-align: right;
    background: rgba(247, 247, 247, 1);
    background: -moz-linear-gradient(-45deg, rgba(247, 247, 247, 1) 0%, rgba(247, 247, 247, 1) 40%, rgba(255, 255, 255, 1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(247, 247, 247, 1)), color-stop(40%, rgba(247, 247, 247, 1)), color-stop(100%, rgba(255, 255, 255, 1)));
    background: -webkit-linear-gradient(-45deg, rgba(247, 247, 247, 1) 0%, rgba(247, 247, 247, 1) 40%, rgba(255, 255, 255, 1) 100%);
    background: -o-linear-gradient(-45deg, rgba(247, 247, 247, 1) 0%, rgba(247, 247, 247, 1) 40%, rgba(255, 255, 255, 1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(247, 247, 247, 1) 0%, rgba(247, 247, 247, 1) 40%, rgba(255, 255, 255, 1) 100%);
    background: linear-gradient(135deg, rgba(247, 247, 247, 1) 0%, rgba(247, 247, 247, 1) 40%, rgba(255, 255, 255, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7f7f7', endColorstr='#ffffff', GradientType=1);
    }

.uslugi-price p {
    margin-top: -14px;
    margin-right: 0px;
    display: block;
    font-size: 2.95em;
    }

.uslugi-price span {
    font-size: 0.15em;
    }

@media (min-width: 576px) {

    }

@media (min-width: 767px) {

    }

@media (min-width: 992px) {
    .uslugi-first-div {
        width: 100%;
        position: relative;
        margin: 70px 0 130px 0;
        }

    .uslugi-div {
        width: 740px;
        height: 293px;
        padding: 23px;
        }

    .uslugi-video {
        width: 220px;
        height: 220px;
        margin: 13px 0 0 -98px;
        }

    .uslugi-h3 {
        width: 380px;
        height: 30px;
        margin: 4px 0 0 238px;
        padding-left: 40px;
        text-align: right;
        }

    .uslugi-h3 h3 {
        margin-top: 5px;
        margin-right: -53px;
        display: block;
        font-size: 1.8em;
        }

    .uslugi-p {
        width: 516px;
        height: 75px;
        margin: 60px 0 0 102px;
        padding-left: 40px;
        text-align: right;
        }

    .uslugi-p p {
        margin-top: 5px;
        margin-right: -53px;
        display: block;
        font-size: 0.95em;
        }

    .uslugi-price {
        width: 246px;
        height: 40px;
        margin: 190px 0 0 372px;
        padding-left: 40px;
        }

    .uslugi-price p {
        margin-top: -14px;
        margin-right: -133px;
        font-size: 3.95em;
        }

    }

@media (min-width: 1600px) {

    }

/*----------footer------------*/
ul.footercont {
    list-style: none;
    margin-top: 14px;
    margin-left: -27px;
    font-weight: 600;
    font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
    }

ul.footermenu {
    list-style: none;
    margin-top: 6px;
    margin-left: -16px;
    font-weight: 600;
    font-size: 1.1em;
    font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
    }

.footermenu a {
    color: #253b59 !important;
    }

.footermenu a:hover {
    color: #8c15b9 !important;
    }

.footermenu a:active {
    color: #8c15b9 !important;
    }

.footermenu li {
    color: #8c15b9;
    }

/*----------кнопка наверх------------*/
.scroller {
    position: fixed;
    bottom: 30px;
    right: 10px;
    cursor: pointer;
    border-radius: 50%;
    opacity: 0.2;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    background-position: -335px -2px;
    width: 45px;
    height: 45px;
    display: none;
    visibility: hidden;
    }

@media (min-width: 576px) {
    .scroller {
        right: 10px;
        visibility: visible;
        }
    }

.scroller:hover {
    opacity: 0.5;
    }

@media (min-width: 992px) {
    .scroller {
        right: 30px;
        visibility: visible;
        }
    }

/*----------карта контакты------------*/
#contmap {
    width: 100%;
    position: relative;
    height: 832px;
    }

#contmap iframe {
    position: absolute;
    top: 0;
    width: 100%;
    height: 105.5%;
    object-fit: cover;
    }

#contmapfon {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0.92) 20%,
    rgba(255, 255, 255, 0.8) 30%,
    rgba(255, 255, 255, 0.6) 40%,
    rgba(255, 255, 255, 0.5) 50%,
    rgba(255, 255, 255, 0.4) 60%,
    rgba(255, 255, 255, 0.3) 70%,
    rgba(255, 255, 255, 0.2) 80%,
    rgba(255, 255, 255, 0.1) 90%,
    rgba(255, 255, 255, 0) 100%);
    z-index: 1;
    }

#conttel {
    position: absolute;
    background: linear-gradient(to right, rgba(76, 76, 76, 0.9019607843137255), rgba(90, 90, 94, 0.9490196078431372));
    width: 200px;
    right: 100px;
    top: 503px;
    height: 324px;
    padding: 5px 0 0 5px;
    box-sizing: border-box;
    z-index: 2;
    }

#conttel ul {
    list-style: none;
    margin-left: -25px;
    font-size: 0.9em;
    }

#conttel li {
    margin: 15px 0;
    color: #d3d3d3;
    font-size: 0.9em;
    }

@media (min-width: 576px) {
    #contmap {
        }

    #conttel {
        }
    }

@media (min-width: 767px) {
    #contmap {
        }

    #conttel {
        width: 200px;
        right: 10px;
        top: 352px;
        height: 454px;
        padding: 5px 0 0 5px;
        }
    }

@media (min-width: 992px) {
    #contmap {
        height: 750px;
        }

    #contmapfon {
        top: -50px;
        height: 90px;
        }

    #contmap iframe {
        top: -40px;
        }

    #conttel ul {
        font-size: 1em;
        }

    #conttel {
        width: 270px;
        right: 10px;
        top: 166px;
        height: 387px;
        padding: 18px 0 0 33px;
        }
    }

@media (min-width: 1200px) {
    #contmap {
        }

    #conttel {
        }
    }

/*-кнопка play для ролика-*/
#playbuton2 {
    height: 150px;
    transition: all 2s linear;
    display: block;
    margin: 3% auto 0 auto;
    cursor: pointer;
    }

/*-класс который добовляется при клике и скр кнопку-*/
.hidden {
    height: 0 !important;
    opacity: 0;
    }

/** ---------- страница контакты --------- **/
.sprite {
    background-image: url(/images/spritik-new-3x.png);
    background-size: 412px;
    }

.sprite2 {
    background-image: url(/images/spritik-new-3x.png);
    }

.semantics_info {
    display: none;
    }

/* -4 Ð±Ð»Ð¾ÐºÐ°- */

.chetirebloka {
    width: 48%;
    display: block;
    padding: 10px 0 10px 0;
    float: left;
    margin: 5px 0% 5px 1%;
    }

.seriyback {
    background-color: rgba(42, 42, 42, 0.59);
    }

.chetirebloka h3 {
    font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
    line-height: 1.4em;
    font-size: 100%;
    font-weight: 100;
    letter-spacing: 0.03em;
    }

.chetirebloka p {
    margin: 13px 0px 13px 0px;
    color: #ffffff;
    font-size: 0.75em;
    font-weight: 300;
    font-style: italic;
    }

.chetireblokatext {
    width: 217px;
    margin: 0 8px;
    border-left-color: #3c6f53;
    border-left-style: solid;
    border-left-width: 7px;
    padding-left: 14px;
    }

.chetireblokatext h3 {
    margin: 6px 0px 0px 15px;
    color: #272727;
    line-height: 1.1em;
    font-size: 100%;
    font-weight: 100;
    text-align: left;
    }

@media (min-width: 576px) {

    .chetirebloka {
        width: 188px;
        margin: 15px 0 15px 5%;
        padding: 10px 0 10px 0;
        }

    .chetirebloka h3 {
        font-size: 1.2em;
        }

    .chetireblokatext {
        width: 217px;
        margin: 0 8px;
        border-left-color: #3c6f53;
        border-left-style: solid;
        border-left-width: 7px;
        padding-left: 14px;
        }

    .chetireblokatext h3 {
        margin: 6px 0 0 15px;
        font-size: 1em;
        }

    .chetirebloka p {
        font-size: 0.9em;
        }
    }

@media (min-width: 767px) {
    .chetirebloka {
        margin: 15px 0 15px 8%;
        padding: 10px 0 10px 0;
        }
    }

@media (min-width: 992px) {
    .chetirebloka {
        width: 188px;
        margin: 25px -1% 25px 0;
        }

    .chetireblokatext {
        margin: 15px 8px;
        }

    .chetireblokatext h3 {
        margin: 26px 0 0 15px;
        }

    .chetireblokadiv > div:last-child {
        margin: 25px -1% 35px 0;
        }
    }

@media (min-width: 1200px) {
    .chetirebloka {
        width: 188px;
        margin: 15px 117px 15px 0;
        }

    .chetireblokadiv > div:last-child {
        margin: 15px 0 35px 0;
        }
    }

/* Ñ†Ð¸Ñ„Ñ€Ñ‹ Ð² ÑÑ‡Ñ‘Ñ‚Ñ‡Ð¸ÐºÐµ */

.counter {
    width: 45%;
    height: 0;
    display: block;
    position: absolute;
    margin: -13% 0 0 2%;
    }

.counter {
    width: 188px;
    height: 50px;
    display: block;
    position: absolute;
    /* background-color: aqua; */
    margin: -66px 0 0 0;
    }

.counter-value {
    color: #3c6f53 !important;
    font-size: 2em !important;
    text-align: center !important;
    font-weight: 600 !important;
    font-style: normal !important;
    }

/* -6 причин- и фотопрайс  */

.fotoprice {
    width: 300px;
    height: 550px;
    margin-top: 50px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
    }

.fotopricepaket {
    position: relative;
    width: 150px;
    height: 150px;
    /* float: left; */
    margin: 10px 0 0 63px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
    padding-left: 10px;
    border-left-color: #39a213;
    border-left-style: solid;
    border-left-width: 7px;
    background-image: url(/images/study-in-ukraine-fon-paketov.jpg);
    }

.fotopricepaket img {
    margin-left: -10px;
    }

.fotopricepaket h6 {
    display: block;
    position: absolute;
    margin: 52px 0 0 10px;
    z-index: 99;
    font-weight: 600;
    font-size: 0.8em;
    }

.fotopricesposok {
    width: 300px;
    margin: 22px 0 0 -40px;
    font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
    }

.ull ul {
    font-size: 0.9em;
    list-style: none;
    line-height: 0.9em;
    }

.ull li {
    padding-left: 20px;
    position: relative;
    margin: 7px 0 0 9px;
    font-size: 0.8em;
    color: #737373;
    font-weight: 100;
    letter-spacing: 0.1em;
    }

.fotopricetsena {
    width: 180px;
    height: 150px;
    margin: 19px 0 0 50px;
    }

.fotopricetsena h5 {
    font-size: 3.7em;
    color: #009c48;
    }

.fotopricetsena h5 span {
    font-size: 0.2em;
    color: #009c48;
    margin-left: 5px;
    }

.spann {
    font-size: 0.4em !important;
    color: #009c48;
    }

.fotopricetsena p {
    font-size: 0.7em !important;
    color: #686868;
    text-align: right;
    line-height: 1.2em;
    /* font-weight: 600; */
    margin: -12px 16px 0 0;
    }

.fotopriceimg {
    height: 45px;
    margin: 10px 0 13px 0px;
    }

.statitext {
    }

.statiimg {
    height: 300px;
    }

.statiimg img {
    height: 100%;
    }

.statitext h3 {
    margin: 0% 0 5% 0;
    padding-left: 27px;
    position: relative;
    text-transform: uppercase;
    font-size: 1.2em;
    }

.statitext h3:before {
    position: absolute;
    left: 0;
    top: 1px;
    content: '';
    height: 102%;
    width: 6px;
    background: #a86db0;
    }

@media (min-width: 576px) {

    .statitext h3 {
        font-size: 1.5em;
        }

    .statiimg {
        height: 300px;
        }

    }

@media (min-width: 767px) {
    .fotoprice {
        width: 700px;
        height: 180px;
        margin-top: 80px;
        background: url(/images/green-right-up.png) 100% 0 no-repeat;
        box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
        }

    .fotoprice:first-child {
        margin-top: 60px
        }

    .fotopricepaket {
        position: relative;
        width: 150px;
        height: 150px;
        float: left;
        margin: -3px 0 0 -80px;
        padding-left: 10px;
        }

    .fotopricepaket img {
        margin-left: -10px;
        }

    .fotopricesposok {
        width: 400px;
        float: left;
        margin: 0 0 0 -14px;
        }

    .fotopricetsena {
        width: 210px;
        height: 150px;
        float: right;
        margin: 25px 0 0 0;
        }

    .fotopricetsena h5 {
        font-size: 4em;
        }

    .fotopriceimg {
        display: block;
        width: auto;
        height: 83px;
        margin: -45px 0 0 3%;
        }

    .statitext {
        width: 600px !important;
        }

    .statiimg {
        height: 500px;
        }

    .statiimg img {
        height: 100%;
        }

    }

@media (min-width: 992px) {
    .headder {
        margin-top: -44px;
        }

    .statitext {
        width: 600px !important;
        }

    .statiimg {
        height: 600px;
        }

    }

.vizi {
    width: 150px;
    height: 217px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
    background-color: white;
    }

.vizi p {
    color: #00553c;
    line-height: 1.1em;
    font-size: 0.8em;
    margin-left: 16px;
    margin-top: -5px;
    letter-spacing: 0.01em;
    }

.vizilink {
    position: absolute;
    height: 34px;
    width: 100%;
    bottom: 0;
    background-color: #084d39;
    padding-top: 4px;
    }

.vizilink a {
    font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
    color: white;
    text-transform: uppercase;
    margin: 0 0 0 40px;
    font-size: 0.85em;
    }

.zagolovokform {
    width: 463px;
    height: 250px;
    padding: 20px;
    margin: 46px 0 0 0;
    background: url(/images/green-left-up.png) 0 0 no-repeat,
    url(/images/green-right-down.png) 100% 100% no-repeat;
    }

.hotdealbooton {
    width: 210px;
    height: 45px;
    margin: -16px auto 0 auto;
    padding: 8px 10px 0 44px;
    transition: all 0.4s;
    border: 4px solid #009c48;
    }

.hotdealbooton:hover {
    border: 4px solid blue;
    }

.hotdealbootonn a {
    font-family: 'Trebuchet MS', sans-serif;
    color: #009c48;
    text-transform: uppercase !important;
    margin: 0px 0 0 33px;
    font-size: 0.95em;
    transition: all 0.4s;
    }

.hotdealbootonn a:hover {
    color: blue;
    }

.proff {
    width: 250px;
    height: 217px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
    background-color: white;
    }

.proff img {
    }

.proff p {
    color: #00553c;
    line-height: 1.1em;
    font-size: 0.8em;
    text-align: center;
    letter-spacing: 0.01em;
    }

.profflink {
    position: absolute;
    height: 34px;
    width: 100%;
    bottom: 0;
    background-color: #084d39;
    padding-top: 4px;
    }

.profflink a {
    font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
    color: white;
    text-transform: uppercase;
    margin: 0 0 0 90px;
    font-size: 0.85em;
    }

.proff2 {
    width: 330px;
    min-height: 517px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
    background-color: white;
    border-top: 4px solid #006b3b;
    margin-top: 15px;
    }

.proff2 img {
    margin-left: 38px;
    }

.proff2 p {
    color: #00553c;
    line-height: 1.1em;
    font-size: 0.8em;
    text-align: center;
    letter-spacing: 0.01em;
    }

.proff2link {
    position: absolute;
    height: 34px;
    width: 100%;
    bottom: 0;
    background-color: #084d39;
    padding-top: 4px;
    }

.proff2link a {
    font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
    color: white;
    text-transform: uppercase;
    margin: 0 0 0 90px;
    font-size: 0.85em;
    }

table.blueTable {
    margin-top: 20px;
    background-color: white;
    width: 100%;
    text-align: left;
    border-collapse: collapse;
    }

table.blueTable td, table.blueTable th {
    padding: 6px 20px;
    }

table.blueTable tbody td {
    font-size: 13px;
    }

table.blueTable tr:nth-child(2n+1) {
    background: #f5f5f5;
    }

table.blueTable a {
    text-decoration: underline;
    }

.breadcrumb {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0.75rem 1rem;
    margin-bottom: 1rem;
    list-style: none;
    background-color: #deffeb;
    border-radius: 0.25rem;
    font-size: 0.8em;
    }